@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(1440deg);
	}
}

.spinner {
	width:5em;
	height:5em;
	position: relative;
	border-radius:100%;
	overflow: hidden;
	background-color: rgba(0,0,0,0.5);
	margin: auto;
	&:not(.definite) {
		&::after {
			content: "";
			height: 0.5em;
			margin-top: 2.25em;
			margin-bottom: 2.25em;
			background-color: white;
			animation-name: spin;
			animation-duration: 2s;
			animation-iteration-count: infinite;
			border-radius: 0.25em;
			width: 5em;
			position: absolute;
		}
		.segment {
			display: none;
		}
	}
	&.definite {
		line-height: 5em;
		vertical-align: middle;
		text-align: center;
		.segment {
			width: 5em;
			height: 5em;
			top: 0px;
			left: 0px;
			position: absolute;
			box-sizing: border-box;
			&::after {
				content: "";
				width: 2.51em;
				height: 2.51em;
				top: 2.49em;
				left: 2.49em;
				position: absolute;
				//border-radius: 0% 0% 100% 0%;
				//border-bottom: 0.5em solid white;
				//border-right: 0.5em solid white;
				background-color: white;
				box-sizing: border-box;
			}
		}
	}
	span {
		color: white;
		position: relative;
		text-shadow: 0px 0px 0.1em black;
	}
	&.full_page {
		position: absolute;
		margin-top: -2.5em;
		margin-left: -2.5em;
		top: 50%;
		left: 50%;
		font-size: calc(min(10vh, 10vw));
		z-index: 5;
	}

	pointer-events: none;
	opacity: 1;
	transition: opacity linear 0.5s;
	&.fading_out {
		opacity: 0;
	}
}