%transport_button {
	padding: 10px;
	margin: 5px;
	border: 0px solid transparent;
	border-radius: 100%;
	background-color: transparent;
	background-origin: content-box;
	background-repeat: no-repeat;
	background-size: 1em 1em;
	transition: linear background-color 0.1s;
	display: inline-block;
	box-sizing: content-box;
	width: 1em;
	height: 1em;
	font-size: 25px;
	line-height:1em;
	cursor: pointer;
	&:hover {
		background-color: rgba(0, 0, 0, 0.6);
	}
}

.container {
	pointer-events: none;
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 0px;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	box-sizing: border-box;
	background: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, transparent 100%);
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	user-select: none;
	input[type="range"].scrubber {
		pointer-events: auto;
		// left: 20px; right: 20px;
		box-sizing: border-box;
		margin: 0px;
		bottom: 0px;
		//padding: 20px;
		margin-top: -25px;
		padding-top: 30px;
		padding-bottom: 30px;
		cursor: pointer;
		display: block;
		width: 100%;
	}
	.play_button {
		@extend %transport_button;
		pointer-events: auto;
		color: white;
		/*&::after {
			content: "\23f5\fe0e";
		}
		&.playing::after {
			content: "\23f8\fe0e";
		}*/
		
		background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M1.5,1v4l3,-2z' fill='white' /></svg>");
		&.playing {
			background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><rect x='1.5' y='1' width='1' height='4' fill='white' /><rect x='3.5' y='1' width='1' height='4' fill='white' /></svg>");
		}
	}
}
