.viewport {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	overflow: hidden;
	isolation: isolate;
	background-color: black;
	touch-action: none;
}

.nerdy_stats {
	position: absolute;
	color: red;
	background-color: rgba(0,0,0,0.5);
	font-size: 20px;
	padding: 10px;
	margin: 0px;
	top: 0px;
	left: 0px;
	max-width: 100vw;
	pointer-events: none;
	user-select: none;
	word-break: break-all;
}

.stop_following_container {
	position: absolute;
	bottom: 100px;
	left: 0px;
	right: 0px;
	width: 100%;
	text-align: center;
	button {
		margin: auto;
		padding: 10px;
		font-size: 16px;
		font-family: Verdana, Geneva, sans-serif;
		color: white;
		background-color: rgba(0,0,0,0.5);
		border: none;
		&:hover {
			background-color: rgba(0,0,0,0.7);
		}
	}
	z-index: 1;
}

.followview {
	z-index: 1;
	border: 10000px solid rgba(0,0,0,0.8);
	margin: -10000px;
	box-sizing: content-box;
	display: none;
	pointer-events: none;
}
